<div class="overflow-scroll card border-warning opacity-75 text-black"  style="max-width: 50%;">
    <div class="card-body">
    <h5 class="card-title">Login</h5>
        <%= form_with url: sessions_path do |form| %>

            <div class="mb-3">
                <%= form.label :email, class:"form-label" %></br>
                <%= form.email_field :email, class:"form-control"%>
            </div>
  
            <div class="mb-3">
                <%= form.label :password, class:"form-label" %></br>
                <%= form.password_field :password, class:"form-control"%>
            </div>
  
            <div class="mb-3">
                <%= form.submit "Log in", class:"btn btn-warning"%>

        
            <%= link_to "Sign up", new_user_path, class:"btn btn-secondary text-black"%>
        </div>
        <% end %>
    </div>
</div>