<div class="overflow-scroll card border-warning opacity-75 text-black"  style="max-width: 50%; height: 480px;">
    <div class="card-body">
    <h5 class="card-title">Sign up</h5>
      <%= form_with model: @user do |form| %>

        <div class="mb-3">
        <%= form.label :name, class:"form-label" %><br>
        <%= form.text_field :name, class:"form-control" %>
        <% @user.errors.full_messages_for(:name).each do |message| %>
          <div class="text-danger">=><%= message %></div>
        <% end %>
      </div>

      <div class="mb-3">
      <%= form.label :email, class:"form-label" %><br>
      <%= form.text_field :email, class:"form-control" %>
      <% @user.errors.full_messages_for(:email).each do |message| %>
        <div class="text-danger">=><%= message %></div>
      <% end %>
    </div>

    <div class="mb-3">
      <%= form.label :age, class:"form-label" %><br>
      <%= form.text_field :age, class:"form-control" %>
      <% @user.errors.full_messages_for(:age).each do |message| %>
        <div class="text-danger">=><%= message %></div>
      <% end %>
    </div>

    <div class="mb-3">
    <%= form.label :city, class:"form-label" %><br>
    <%= form.collection_select :city_id, City.order(:name), :id, :name, class:"form-select" %>
    <% @user.errors.full_messages_for(:city).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

    <div class="mb-3">
      <%= form.label :password, class:"form-label" %><br>
      <%= form.text_field :password, class:"form-control" %>
      <% @user.errors.full_messages_for(:password).each do |message| %>
        <div class="text-danger">=><%= message %></div>
      <% end %>
    </div>

    <div class="mb-3">
      <%= form.label :password_confirmation, class:"form-label" %><br>
      <%= form.text_field :password_confirmation, class:"form-control" %>
      <% @user.errors.full_messages_for(:password_confirmation).each do |message| %>
        <div class="text-danger">=><%= message %></div>
      <% end %>
    </div>

    <div class="mb-3">
    <%= form.submit "Sign up", class:"btn btn-warning"%>
    <%= link_to "Back", root_path, class:"btn btn-secondary text-black"%>
    </div>
    <% end %>
  </div>
</div>