<div class="overflow-scroll card border-warning opacity-75 text-dark-grey" style="max-width: 50%; max-height: 480px;">
    <div class="card-body">
        <h5 class="card-title"><%= @user.name %></h5>
        <p class="card-text">Mail : <%= @user.email %></p>
        <p>Age : <%= @user.age %></p>
        <p>
            City : <%= City.find(@user.id).name%>
            Zip_code : <%= City.find(@user.id).zip_code%>
        </p>
        <h5 class="card-title">Link to comments (<%=@user.comments.count%>)</h5>
        <% @user.comments.each do |comment|%>
            <p>=> <%=link_to comment.article.title, comment.article%></p>
        <%end%> 
        <h5 class="card-title">Link to articles (<%=@user.articles.count%>)</h5>
        <% @user.articles.each do |article|%>
            <p>=> <%=link_to article.title, article%></p>
        <%end%>
        <button type="button" class="btn btn-link"><%= link_to "Back", root_path%></button>
    </div>
</div>